<!-- Projects section -->
<div id="projects" class="p-div c_container">
  <section class="projects">
    <div class="c-projects-title">
      <h2 class="projects-title">Proyectos</h2>
    </div>
  </section>
</div>
