<!-- Projects section -->
<div id="projects" class="hidden-div"></div>
<section class="projects c_container">
  <div class="c-projects-title">
    <h2 class="projects-title">Proyectos</h2>
  </div>
  <dviv class="projects-carousel">
    <div class="projects-container">
      <button aria-label="anterior" class="carousel-anterior">&lt;</button>
      <div class="carousel-list card-animation-cont">
        <div class="card project-card">
          <img src="assets/img/project-eiich-empresas.png" alt="cargando..." />
          <div class="info">
            <h4>EIICH EMPRESAS</h4>
            <span class="sub-title icon-container">
              <i class="devicon-typescript-plain icon-large"></i>
              <i class="devicon-react-original icon-large"></i>
              <i class="devicon-tailwindcss-plain icon-large"></i>
              <i class="devicon-css3-plain icon-large"></i>
            </span>
            <hr />
            <div class="hide-info">
              <span class="text-info"
                >Contribuí al desarrollo del front-end de aplicación Web para
                Eiich Empresas, consultora especializada en Asesoramiento
                Financiero.
              </span>
              <span class="project-icons">
                <a href="https://eiichempresas.com/" target="_blank">
                  <i class="devicon-chrome-plain"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="card project-card">
          <img src="assets/img/project-eiich.png" alt="cargando..." />
          <div class="info">
            <h4>EIICH</h4>
            <span class="sub-title icon-container">
              <i class="devicon-typescript-plain icon-large"></i>
              <i class="devicon-react-original icon-large"></i>
              <i class="devicon-tailwindcss-plain icon-large"></i>
              <i class="devicon-css3-plain icon-large"></i>
            </span>
            <hr />
            <div class="hide-info">
              <span class="text-info"
                >Contribuí al desarrollo del front-end de esta aplicación web
                para Eiich, donde se realizan sorteos y suscripciones mensuales.
              </span>
              <span class="project-icons">
                <a href="https://eiich.com/" target="_blank">
                  <i class="devicon-chrome-plain"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="card project-card">
          <img src="assets/img/project-zeytol.png" alt="cargando..." />
          <div class="info">
            <h4>ZEYTOL</h4>
            <span class="sub-title icon-container">
              <i class="devicon-typescript-plain icon-large"></i>
              <i class="devicon-react-original icon-large"></i>
              <i class="devicon-tailwindcss-plain icon-large"></i>
              <i class="devicon-css3-plain icon-large"></i>
            </span>
            <hr />
            <div class="hide-info">
              <span class="text-info"
                >Desarrollé el sitio web de ZEYTOL, una consultora especializada
                en soluciones tecnológicas. La página es responsive y fue creada
                utilizando React.</span
              >
              <span class="project-icons">
                <a href="https://github.com/zeytol/Page-zeytol" target="_blank">
                  <i class="devicon-github-plain"></i>
                </a>
                <a href="https://zeytol.netlify.app/" target="_blank">
                  <i class="devicon-chrome-plain"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="card project-card">
          <img src="assets/img/loading.webp" alt="cargando..." />
          <div class="info">
            <h4>Speak Like</h4>
            <span class="sub-title icon-container">
              <i class="devicon-typescript-plain icon-large"></i>
              <i class="devicon-react-original icon-large"></i>
              <i class="devicon-threejs-original icon-large"></i>
              <i class="devicon-tailwindcss-plain icon-large"></i>
              <i class="devicon-css3-plain icon-large"></i>
            </span>
            <hr />
            <div class="hide-info">
              <span class="text-info"
                >Desarrollado esta isla 3D que al moverse por la isla, los
                usuarios pueden acceder a diferentes traductores divertidos como
                Yoda, Minion, Groot, utilizando APIs de Fun Translation.</span
              >
              <span class="project-icons">
                <a
                  href="https://github.com/Fernandd0/speakLike"
                  target="_blank"
                >
                  <i class="devicon-github-plain"></i>
                </a>
                <a
                  href="https://fernandd0.github.io/speakLike/"
                  target="_blank"
                >
                  <i class="devicon-chrome-plain"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="card project-card">
          <img src="assets/img/p02-KanbanBoard.png" alt="cargando..." />
          <div class="info">
            <h4>Kanban Board</h4>
            <span class="sub-title icon-container">
              <i class="devicon-typescript-plain icon-large"></i>
              <i class="devicon-react-original icon-large"></i>
              <i class="devicon-vite-plain icon-large"></i>
            </span>
            <hr />
            <div class="hide-info">
              <span class="text-info"
                >Desarrollé un Kanban Board, que permite organizar tareas en
                columnas como "Por hacer", "En progreso" y "Hecho".</span
              >
              <span class="project-icons">
                <a
                  href="https://github.com/Fernandd0/kanban-board"
                  target="_blank"
                >
                  <i class="devicon-github-plain"></i>
                </a>
                <a
                  href="https://fernandd0.github.io/kanban-board/"
                  target="_blank"
                >
                  <i class="devicon-chrome-plain"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="card project-card">
          <img src="assets/img/p04-pixelArtMaker.png" alt="cargando..." />
          <div class="info">
            <h4>PIXEL ART MAKER</h4>
            <span class="sub-title icon-container">
              <i class="devicon-javascript-plain icon-large"></i>
              <i class="devicon-css3-plain icon-large"></i>
              <i class="devicon-html5-plain icon-large"></i>
            </span>
            <hr />
            <div class="hide-info">
              <span class="text-info"
                >Permite a los usuarios crear pixel art mediante una pizarra
                virtual. Donde pueden pintar, borrar y editar píxel por píxel
                para crear obras de arte detalladas y expresivas directamente en
                el navegador.</span
              >
              <span class="project-icons">
                <a
                  href="https://github.com/Fernandd0/pixelArtMaker"
                  target="_blank"
                >
                  <i class="devicon-github-plain"></i>
                </a>
                <a
                  href="https://fernandd0.github.io/pixelArtMaker/"
                  target="_blank"
                >
                  <i class="devicon-chrome-plain"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <button aria-label="siguiente" class="carousel-siguiente"> &gt; </button>
    </div>
  </dviv>
</section>
