<!-- Skills section -->
<div id="skills" class="p-div c_container">
  <section class="skills-section">
    <div class="about-c">
      <div class="c-bio-title">
        <h2 class="bio-title">Skills</h2>
      </div>
    </div>
    <img
      src="https://skillicons.dev/icons?i=ts,js,react,vue,astro,html,css,tailwind,nodejs,java,mysql,postgres,git"
      title="Skills"
      alt="Skills"
      width="36"
      height="36"
      loading="lazy"
      class="icon-card"
    />
  </section>
</div>
