---
import { hero4 } from '../../assets'
---

<div id="about" class="p-div c_container">
  <section class="about-me">
    <div class="about-c">
      <div class="c-bio-title">
        <h2 class="bio-title">About Me</h2>
      </div>
    </div>

    <div class="bio">
      <div class="c-bio-img">
        <img
          src={hero4.src}
          alt="Portrait of Fernando Solorzano"
          class="bio-img"
          width="100"
          height="100"
        />
      </div>
      <div class="c-bio-text">
        <p class="bio-text">
          I’m a <b>software engineer</b> with more than <b>2 years of experience</b> building web apps
          that actually work well and look good.
        </p>
        <p class="bio-text">
          I enjoy learning new stuff, solving tricky problems, and turning random ideas into things
          people can actually use.
        </p>
        <p class="bio-text">
          <b>If you can imagine it, I can build it.</b>
        </p>
      </div>
    </div>

    <div class="hide-text">
      <p>
        I like creating useful, scalable tools from small web projects to automation or AI-based
        experiments. Whether it’s something personal or part of a bigger product, I focus on keeping
        things simple and clean.
      </p>
      <p>
        <a href="/#contact"><b>Let’s build something cool together.</b></a>
      </p>
      <p>
        Outside of coding, I play basketball. Both remind me that having a clear plan makes a huge
        difference same logic applies to writing good code.
      </p>
      <ul class="nes-list is-circle hide-list">
        <li class="hide-list-item">
          Always learning new tech and trying out ideas to get better at what I do.
        </li>
        <li class="hide-list-item">
          Sometimes I write poems helps me reset and think from a different angle.
        </li>
        <li class="hide-list-item">
          Lately I’ve been exploring <b>machine learning</b> and AI projects just for fun (and a bit
          of curiosity).
        </li>
      </ul>
    </div>
  </section>
</div>
