<div id="about" class="p-div c_container">
  <section class="about-me">
    <div class="about-c">
      <div class="c-bio-title">
        <h2 class="bio-title">Sobre mi</h2>
      </div>
    </div>

    <section>
      <button
        type="button"
        class="nes-btn is-warning"
        onclick="document.getElementById('dialog-rounded').showModal();"
      >
        Sobre mi
      </button>
      <dialog class="nes-dialog is-rounded" id="dialog-rounded">
        <form method="dialog">
          <div class="bio">
            <div class="c-bio-img">
              <img
                src="assets/img/me-1.png"
                alt="me"
                class="bio-img"
                width="100"
                height="100"
              />
            </div>
            <div class="c-bio-text">
              <p class="bio-text">
                Soy desarrollador de software freelance, con una pasi贸n por el
                aprendizaje continuo y los desaf铆os tecnol贸gicos.
              </p>
              <p class="bio-text">
                Estoy disponible para ayudarte a llevar tus ideas al siguiente
                nivel con soluciones tecnol贸gicas innovadoras y efectivas.
              </p>
              <p class="bio-text">
                <b>Si puedes imaginarlo, puedo programarlo.</b>
              </p>
            </div>
          </div>
          <!-- More About Me-->
          <div class="c-hide-text">
            <span class="-text">
              <p>
                Estoy aqu铆 para convertir tus ideas en realidad,
                <b
                  >proporcionando servicios de desarrollo a medida que impulsan
                  el crecimiento y la eficiencia de tu negocio</b
                >. Ya sea que necesites una aplicaci贸n web, un sistema
                personalizado o una consultor铆a tecnol贸gica, puedo ayudarte a
                alcanzar tus objetivos con profesionalismo y dedicaci贸n.
              </p>
              <p>
                <a href="#contact"
                  ><b>隆Hablemos y hagamos realidad tu proyecto!</b></a
                >
              </p>
              <p>
                En mi tiempo libre, disfruto practicar deportes como el
                baloncesto y el f煤tbol. He notado que tanto en el deporte como
                en la programaci贸n es esencial tener una planificaci贸n clara
                antes de comenzar. En los deportes, esto significa establecer
                una estrategia y un plan de juego, mientras que en la
                programaci贸n implica definir los requisitos del proyecto y
                establecer una arquitectura y dise帽o del software adecuados.
              </p>
              <ul class="nes-list is-circle hide-list">
                <li class="hide-list-item">
                   Soy estudiante o tal vez lo fui, pero estoy constantemente
                  aprendiendo y adapt谩ndome a nuevas tecnolog铆as para ofrecerte
                  las soluciones m谩s avanzadas y eficientes.
                </li>
                <li class="hide-list-item">
                   Escribo poemas para despejar mi mente y liberar mi
                  creatividad, lo que me permite abordar los problemas desde
                  perspectivas 煤nicas.
                </li>
                <li class="hide-list-item">
                   Actualmente, estoy profundizando mis conocimientos en
                  machine learning, lo que abre nuevas posibilidades para
                  proyectos con Inteligencia Artificial.
                </li>
              </ul>
            </span>
          </div>
          <menu class="dialog-menu">
            <button class="nes-btn">Cerrar</button>
          </menu>
        </form>
      </dialog>
    </section>
  </section>
</div>
