---
import { ContactForm } from "../ui/ContactForm";
---

<div id="contact" class="p-div c_container">
  <section class="contact-section">
    <div class="c-contact-title">
      <h2 class="contact-title">Contacto</h2>
    </div>

    <div class="contact-form-container">
      <div class="c-contact-text">
        <p class="contact-text">
            Código, café y nuevas ideas. Si tienes un proyecto, quiero escucharlo.
        </p>
      </div>

      <div class="contact-form">
        <ContactForm client:visible />
      </div>
    </div>
  </section>
</div>
