---
import { ContactForm } from "../ui/ContactForm";
---

<div id="contact" class="p-div c_container">
  <section class="contact-section">
    <div class="c-contact-title">
      <h2 class="contact-title">CONTACTO</h2>
    </div>

    <div class="contact-form-container">
      <div class="c-contact-text">
        <p class="contact-text">
          Escríbeme tu idea y vemos cómo hacerlo realidad.
        </p>
      </div>

      <div class="contact-form">
        <ContactForm client:only />
      </div>
    </div>
  </section>
</div>
