---
import { hero4 } from '../../assets'
---

<div class="p-custom c_container">
  <div class="div-portada-all">
    <div class="div-portada-text">
      <h2 class="portada-titulo">Hello there! I'm Fernando Solorzano</h2>
      <h1 class="portada-main">SOFTWARE ENGINEER</h1>
      <h3 class="portada-text">
        I design and build scalable applications with one clear principle: less complexity, more
        value. <a href="#projects" class="portada-action">Check out my work.</a>
      </h3>
      <div class="c-btn-portada">
        <a type="button" href="#contact" class="nes-btn is-normal btn-portada">Say Hello</a>
        <a
          type="button"
          href="https://drive.google.com/file/d/1l7sUyXSmp9Rwbj3QnpEMNFYoG3gwZiCe/view?usp=sharing"
          target="_blank"
          class="nes-btn is-error btn-portada">Resume -></a
        >
      </div>
    </div>
    <div class="c-portada-img">
      <img
        src={hero4.src}
        id="portada_img"
        class="portada-img"
        alt="Retrato de Fernando Solorzano, software developer"
        width="100"
        height="100"
      />
    </div>
    <!-- <h3 class="portada-text quote">
      "No podemos resolver problemas pensando de la misma manera que cuando los creamos."
      <br />- Albert Einstein
    </h3>   -->
  </div>
</div>
