---
import { PortfolioSlider } from '../ui/PortfolioSlider'
---

<!-- Projects section -->
<div id="projects" class="p-div c_container">
  <section class="projects">
    <div class="c-projects-title">
      <h2 class="projects-title">MY LAST PROJECTS</h2>
    </div>
    <div class="parent-container">
      <PortfolioSlider client:only />
    </div>
  </section>
</div>
