---
import { PortfolioSlider } from '../ui/PortfolioSlider/PortfolioSlider'
---

<!-- Projects section -->
<div id="projects" class="p-div c_container">
  <section class="">
    <div class="c-projects-title">
      <h2 class="projects-title">MY LAST PROJECTS</h2>
    </div>
    <div class="parent-container">
      <PortfolioSlider client:only numberOfProjects={3} />
    </div>
    <div class="c-submit-btn" style="justify-content: center; margin-top: 2em;">
      <a href="/projects" class="nes-btn"> Check out more </a>
    </div>
  </section>
</div>
