---
import SkillsGallery from "../ui/SkillsGallery";
---

<!-- Skills section -->
<div id="skills" class="p-div c_container">
  <section class="skills-section">
    <div class="about-c">
      <div class="c-bio-title">
        <h2 class="bio-title">Stack</h2>
      </div>
    </div>
    <SkillsGallery client:load />
  </section>
</div>
