<div class="p-div c_container">
  <section class="thanks-section">
    <div class="thank-content" id="thankWrap" aria-live="polite">
      <i class="nes-icon trophy is-large" aria-hidden="true"></i>

      <h1 class="thanks-giant" aria-label="GRACIAS">
        GRACIAS
      </h1>

      <p class="thanks-text">
        Recibí tu mensaje. En breve te respondo.<br>
      </p>

      <div class="actions">
        <a href="/" class="nes-btn is-error">Inicio</a>
      </div>
      
    </div>
  </section>
</div>
