/*Variables*/
:root{
  --font-family-1: Press Start 2P;
  --font-family-2: IBM Plex Mono;
  --font-family-3: Rubik, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  --mini-font: 0.8em;
  --normal-font: 1em;
  --bold-font: 1.5em;
  --bolder-font: 2em;
  --primary-color: #fff; /*#EADFCD*/
  --secondary-color: #090E16;
  --third-color: #090E16;
  --fourth-color: #fff; /*#EADFCD*/
  --fifth-color: rgba(0, 0, 0, 0.2);
  --sixth-color: #090E16;
  --primary-shadow: rgba(0, 0, 0, 0.2);
  --transition: 0.3s ease;
  --line-height: 1.7em;
  --border-img: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(9,14,22)"/></svg>');
  --border-img-2: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(9,14,22)"/></svg>');
  --border-img-3: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgba(0, 0, 0, 0.2)"/></svg>');
  --color-img: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(3%) hue-rotate(256deg) brightness(101%) contrast(102%);
  --color-img-2: brightness(0) saturate(100%) invert(5%) sepia(7%) saturate(3995%) hue-rotate(178deg) brightness(88%) contrast(98%);
}

/*General*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: auto;
}

html
body{
  background-color:var(--primary-color);
  height: 100%;
  padding: 2em 9em 0 9em;
}
/*General ends*/

/*Navbar*/
.header{
  font-family: var(--font-family-1);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  height: 3em;
  background-color:var(--primary-color);
  margin: -1em -3em;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.6em;
  margin: 0;
  padding: 0;
  border: 0.2em solid var(--third-color);
  box-shadow: 0.3em 0.3em var(--primary-shadow);
}

.c-logo {
  display: flex;
  list-style-type: none;
  margin: 0;
  justify-content: left;
}
.logo{
  color: var(--secondary-color);
  text-decoration: none;
  font-size: var(--mini-font);
  text-transform: uppercase;
  padding: 1em 1.5em;
  border-right: 0.2em solid var(--third-color);
  width: max-content;
  cursor: pointer;
}
.logo:hover{
  color: var(--fourth-color);
  background-color: var(--third-color);
  transition: 0.3s ease;
}
.logo:hover > efe{
  color: var(--third-color);
  cursor: pointer;
}
.nav-list{
  display: flex;
  list-style-type: none;
  margin: 0;
  justify-content: right;
}
.nav-link{
  color: var(--secondary-color);
  list-style-position: none;
  text-decoration: none;
  font-size: var(--mini-font);
  text-transform: uppercase;
  padding: 1em 1.5em ;
  border-left: 0.2em solid var(--third-color);
  width: max-content;
  cursor: pointer;
}
.nav-link:hover{
  color: var(--fourth-color);
  background-color: var(--third-color);
  transition: 0.3s ease;
}

/*Color mood*/
.c-toggle-mood-2{
  display: none;
}
.c-toggle-mood{
  position: absolute;
  right: 2em;
  top: 1.5em;
}
.label-toggle{
  margin: 0;
}
.toggle-theme{
  background: none;
  border: none;
  padding: 0 1.5em;
}
.ico-mood{
  cursor: pointer;
  filter: var(--color-img-2);
}
#toggle, #toggle-2{
  display: none;
}
.dark-mood{
  --primary-color: #090E16;
  --secondary-color: #fff; /*#EADFCD*/
  --third-color: #412C7C;
  --fourth-color: #fff; /*#EADFCD*/
  --fifth-color: #14142A;
  --sixth-color: #52545E;
  --primary-shadow: #14142A;
  --border-img: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(65,44,124)"/></svg>');
  --border-img-2: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(65,44,124)"/></svg>');
  --border-img-3: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(20, 20, 42)"/></svg>');
  --color-img: brightness(0) saturate(100%) invert(5%) sepia(7%) saturate(3995%) hue-rotate(178deg) brightness(88%) contrast(98%);
  --color-img-2: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(3%) hue-rotate(256deg) brightness(101%) contrast(102%);
}

.nav-toggle{
  color: var(--secondary-color);
  background: none;
  border: none;
  padding: 0 20px;
  display: none;
  cursor: pointer;
  transition: 0.3s ease;
}
.img-nav-toggle{
  cursor: pointer;
  filter: var(--color-img-2);
}

/*Portada*/
.div-portada-all{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portada-titulo{
  color: var(--sixth-color);
  font-family: var(--font-family-2);
  font-size: var(--bold-font);
  margin: -6em 0 0 0;
}
.portada-main{
  color: var(--secondary-color);
  font-family: var(--font-family-1);
  font-size: var(--bolder-font);
  margin: .6em 0;
}
.portada-text{
  color: var(--sixth-color);
  font-family: var(--font-family-2);
  font-size: var(--bold-font);
  line-height: 1em;
  margin-bottom: 1.2em;
}
.portada-img{
  margin: -15em 0em 0 4em;
  width: 20em;
  height: auto;
}
/*.nes-btn{
  margin: 0;
  box-shadow: 0 0 0.4em 0.3em var(--sixth-color);
}/*

/*AboutMe*/
.about-me{
  padding: 1.5em;

  border: .3em solid var(--third-color);
  border-image-slice: 2;
  border-image-width: 3;
  border-image-source: var(--border-img);
  border-image-outset: 2;
}
.bio{
  justify-content:space-between;
  display: flex;
}
.c-bio-title{
  text-align: left;
  display: table;
}
.bio-title{
  color: var(--secondary-color);
  font-size: var(--bold-font);
  background-color: var(--primary-color);
  padding: 0 1em;
  margin: -2em 0 0 0;
  top: 0;
}
.c-bio-img{
  height: auto;
  display: flex;
  /*align-items: center; para centrar Y*/
  margin: .5em 1em 0 0;
}
.bio-img{
  width: auto;
  height: 12em;
  image-rendering: pixelated;
}
.bio-text{
  color: var(--secondary-color);
  margin: 0 0 1em 0;
  font-family: var(--font-family-2);
  font-size: var(--bold-font);
  text-align: justify;
}
.btn-hero-c{
  /*float: right;*/
  display:flex;
  justify-content:flex-end;
}
/*More About Me*/
.c-hide-text{
  margin: 0 0 1.5em 0;
}
.hide-text{
  margin-top: 1em 0;
  color: var(--secondary-color);
  font-family: var(--font-family-2);
  font-size: var(--bold-font);
  text-align: justify;
}
.hide-list{
  padding: 0 1.5em;
}
.hide-list-item{
  font-size: var(--mini-font);
}

.c-hide-text{
  display: none;
}
.c-show-text{
  display: block;
}

/*Skills section*/
.skills {
  width: 100%;
  text-align: center;
  margin: 8em 0;
  padding: 1.5em;

  border: .3em solid var(--third-color);
  border-image-slice: 2;
  border-image-width: 3;
  border-image-source: var(--border-img);
  border-image-outset: 2;
}
.skill-title-c{
  text-align: left;
  display: table;
}
.skill-title {
  color: var(--secondary-color);
  font-size: var(--bold-font);
  background-color: var(--primary-color);
  padding: 0 1em;
  margin: -2em 0 0 0;
  font-size: var(--bold-font);
  top: 0;
}
.skills-wrapper img {
  width: 5em;
}
.icon-card {
  width: 100%;
  height: auto;
  margin: 1em .5em 1em .5em;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  border: .2em solid var(--third-color);
  border-image-slice: 3;
  border-image-width: 3;
  border-image-source: var(--border-img-3);
  border-image-outset: 3;
}
.icon-card:hover{
  border-image-source: var(--border-img-2);
  transform: scale(1.1);
}

/*Projects*/
.projects{
  width: 100%;
  text-align: center;
  margin: 8em 0;
  padding: 3em 2em;

  border: .3em solid var(--third-color);
  border-image-slice: 2;
  border-image-width: 3;
  border-image-source: var(--border-img);
  border-image-outset: 2;
}
.c-projects-title{
  text-align: left;
  display: table;
}
.projects-title{
  color: var(--secondary-color);
  font-size: var(--bold-font);
  background-color: var(--primary-color);
  padding: 0 1em;
  margin: -3em 0 0 0;
  top: 0;
}
.projects-container{
  position: relative;
}
.carousel-anterior,
.carousel-siguiente{
  color: var(--fifth-color);
  position: absolute;
	top: calc(50% - 30px);
  border: none;
	cursor: pointer;
	text-align: center;
	background: none;
  font-size: 1em;
}
.carousel-anterior:hover,
.carousel-siguiente:hover {
	color: var(--secondary-color);
  transform: scale(1.1);
}
.carousel-anterior {
	left: -15px;
}
.carousel-siguiente {
	right: -15px;
}
.carousel-list {
	overflow: hidden;
}
.project-card{
  margin: 0 .5em;
  transition: 0.3s ease-in-out;
  padding: .5em;

  border: .15em solid var(--third-color);
  border-image-slice: 3;
  border-image-width: 3;
  border-image-source: var(--border-img-3);
}
.project-card:hover{
  border-image-source: var(--border-img-2);
}
.card-pic{
  width: 90%;
  height: auto;
}
.card-title{
  margin: 1em 0 .5em 0;
  color: var(--secondary-color);
}
.card-details{
  margin: 1em 0;
  color: var(--fifth-color);
  transition: 0.3s ease-in-out;
}
.project-card:hover > .card-details{
  color: var(--secondary-color);
}
.project-link img{
  cursor: pointer;
  filter: var(--color-img-2);
}

/*Contact*/
.contact{
  width: 100%;
  margin-bottom: 8em ;
  padding: 3em 2em;

  border: .3em solid var(--third-color);
  border-image-slice: 2;
  border-image-width: 3;
  border-image-source: var(--border-img);
  border-image-outset: 2;
}
.c-contact-title{
  text-align: left;
  display: table;
}
.contact-title{
  color: var(--secondary-color);
  font-size: var(--bold-font);
  background-color: var(--primary-color);
  padding: 0 1em;
  margin: -3em 0 0 0;
  top: 0;
}
.form-control label{
  color: var(--secondary-color);
}
.form-control .input-field{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin: 0 0 2em 0;
}
.form-control .input-field{
  border: .15em solid var(--fifth-color);
  border-image-slice: 2;
  border-image-width: 3;
  border-image-source: var(--border-img);
  border-image-outset: 2;
}
/*
.form-control .input-field::placeholder{
  color: var(--third-color);
}
*/

/*Social Media*/
.icon-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 45%;
}
.nes-icon {
  width: 2em;
  height: 2em;
  cursor: pointer;
}

/*Scroll*/
.scroll-c{
  transform: scale(0);
  cursor: pointer;
  font-size: 0.8em;
  position: fixed;
  bottom: 4%;
  right: 1%;
}
.scroll span{
  display: block;
  transform: rotate(90deg);
  font-size: var(--bold-font);
}

/*Footer*/
footer{
  background-color: var(--fifth-color);
  justify-content: center;
  padding: 1em 1em 0 1em;
  margin: 0em -9em -2em -9em;
  bottom: 0;
  left: 0;
  color: var(--secondary-color);
}
.c-footer-text p{
  display: inline;
  font-size: var(--mini-font);
}
.c-footer-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.footer-text-2{
  margin-right: 4em;
}
.footer-link{
  color: var(--secondary-color);
}
.footer-link:hover{
  color: var(--third-color);
}

/*Responsive <320*/
@media only screen and (min-width: 320px) and (max-width: 1024px){
  /*Nav*/
    nav ul {
      position: fixed;
      background-color: var(--third-color);
      flex-direction: column;
      padding: 1em 0 4em 0;
      top: 86px;
      left: 10%;
      width: 80%;
      text-align: center;
      transform: translateX(120%);
      transition: transform 0.5s ease-in;

      border: .3em solid var(--third-color);
      border-image-slice: 3;
      border-image-width: 3;
      border-image-source: var(--border-img-3);
      border-image-outset: 3;
    }
    .nav-link{
      color: var(--primary-color);
      border: none;
      padding: 0;
    }
    .nav-toggle{
      display: block;
    }
    nav ul.show {
      transform: translateY(0);
    }
    .c-toggle-mood{
      display: none;
    }
    .c-toggle-mood-2{
      display: block;
      padding: 1em 0 0 0;
      flex-direction: column;
      justify-content: center;
    }
    .ico-mood{
      filter: var(--color-img);
    }
    .ico-mood-sun:hover{
      filter: var(--color-img-2);
    }
}

/*Responsive <1024px*/
@media screen and (max-width: 1024px) {
  html
  body{
    padding: 2em 5em;
  }
  .header{
    margin: -1em -3em;
  }
  footer{
    margin: 0em -5em -2em -5em;
  }
  /*Portada img*/
  .portada-img{
    display: none;
  }
	.bio {
		flex-direction: column;
	}
  .c-bio-img{
    display: flex;
    justify-content: center;
    margin: 1em 0;
  }
}

/*Responsive >1500px*/
@media (min-width:1500px){
  .portada-titulo{
    font-size: 2em;
  }
  .portada-main{
    font-size: 2.5em;
  }
  .portada-text{
    font-size: 2em;
  }
  .portada-img{
    margin: -18em 0em 0 4em;
    width: 26em;
  }
}

/*Responsive <768*/
@media screen and (max-width:768px){
  html
  body{
    padding: 2em 2em;
  }
  .header{
    margin: -1em -1em;
  }
  footer{
    margin: 0em -2em -2em -2em;
  }
  .c-footer-text p{
    font-size: 0.7em;
  }
  .footer-text-2{
    margin-right: 0em;
  }
}

/*Responsive <480*/
@media screen and (max-width:480px){
  html
  body{
    padding: 1em 1em;
  }
  .header{
    margin: -0.5em -0.5em;
  }
  footer{
    margin: 0em -1em -1em -1em;
  }
  .c-footer-text p{
    font-size: 0.4em;
  }
  .footer-text-1{
    padding: .99Sem 0 0 0;
  }
  .footer-text-2{
    margin-right: 0em;
  }
}