---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <div class="p-div c_container">
    <section class="thanks-section">
      <div class="thank-content" id="thankWrap" aria-live="polite">
        <i class="nes-icon coin is-large" aria-hidden="true"></i>

        <h1 class="thanks-giant" aria-label="THANK YOU">THANKS</h1>

        <p class="thanks-text">
          Got your message. I’ll get back to you soon.<br />
        </p>

        <div class="actions">
          <a href="/" class="nes-btn is-error">Back Home</a>
        </div>
      </div>
    </section>
  </div>
</Layout>
