---
import Analytics from "@vercel/analytics/astro";
import "../styles/globals.css";
import { Navbar } from "./Navbar";
import { Footer } from "./Footer";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!--Title-->
    <title>Fernando Solorzano</title>
    <!-- Favicons -->
    <link rel="icon" type="image/svg+xml" href="/favicon.webp" />
    <meta name="generator" content={Astro.generator} />
    <!--Font-->
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=IBM+Plex+Mono:wght@400;700&family=Rubik:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- Framework NES.css -->
    <link
      href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/nes.css@latest/css/nes.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />
    <Analytics />
  </head>
  <body>
    <Navbar client:load />
    <main>
      <slot />
    </main>
    <Footer client:load />
  </body>
</html>
